<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../../node_modules/normalize/normalize.css" />
    <link type="text/css" rel="stylesheet" href="../styles/menu_all.css" />
    <link type="text/css" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a href="../../index.html"><span></span></a>
        <figure class="logo">
            <img id="logo" alt="logo_ohmyfood" src="../images/logo/ohmyfood@2x.svg"></img>
        </figure>
    </header>
    <img class="resto" src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
        alt="restaurant,&Agrave la française.">
    <section>
        <div class="name">
            <h2>&Agrave la française</h2><span class="heart"></span>
        </div>
        <h3 class="titre">ENTR&Eacute;ES</h3>
        <div class="wait-0 menu">
            <div class="menu_header">
                <span class="bold plat">Tartare de poulpe acidulé</span>
                <span class="ingrédients">Aux zestes d'orange</span>
            </div>
            <span class="bold price">25€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-1 menu">
            <div class="menu_header">
                <span class="bold plat">Velouté de légumes d'antan</span>
                <span class="ingrédients">Carotte, panais, topinambour</span>
            </div>
            <span class="bold price">35€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-2 menu">
            <div class="menu_header">
                <span class="bold plat">Soupe à l'oignon</span>
                <span class="ingrédients">Revisitée</span>
            </div>
            <span class="bold price">20€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <h3>PLATS</h3>
        <div class="wait-3 menu">
            <div class="menu_header">
                <span class="bold plat">Coquilles Saint-Jacques</span>
                <span class="ingrédients">Accompagnées d'une purée de panais</span>
            </div>
            <span class="bold price">40€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-4 menu">
            <div class="menu_header">
                <span class="bold plat">Magret de canard</span>
                <span class="ingrédients">Et parmentier de pommes de terre</span>
            </div>
            <span class="bold price">35€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-5 menu">
            <div class="menu_header">
                <span class="bold plat">Pigeonneau d’Ille-et-Vilaine</span>
                <span class="ingrédients">Sur son lit de gnocchis aux légumes</span>
            </div>
            <span class="bold price">44€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <h3>DESSERTS</h3>
        <div class="wait-6 menu">
            <div class="menu_header">
                <span class="bold plat">Pétales de violettes glacés</span>
                <span class="ingrédients">Et purée de noisettes</span>
            </div>
            <span class="bold price">18€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-7 menu">
            <div class="menu_header">
                <span class="bold plat">Fondant au chocolat</span>
                <span class="ingrédients">Revisité</span>
            </div>
            <span class="bold price">22€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-8 menu">
            <div class="menu_header">
                <span class="bold plat">Millefeuille croustillant</span>
                <span class="ingrédients phare">Myrtilles et pâte d’amande</span>
            </div>
            <span class="bold price">23€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <button class="bouton">Commander</button>
    </section>
    <footer>
        <a href="#">
            <span class="logo">ohmyfood</span>
        </a>
        <a href="#">
            <span class="eat">Proposer un restaurant</span>
        </a>
        <a href="#">
            <span class="market">Devenir partenaire</span>
        </a>
        <a href="#">
            <span>Mentions légales</span>
        </a>
        <a href="mailto:?to=adresse@serveur.com">
            <span>Contact</span>
        </a>
    </footer>
</body>
