<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../../node_modules/normalize/normalize.css" />
    <link type="text/css" rel="stylesheet" href="../styles/menu_all.css" />
    <link type="text/css" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a href="../../index.html"><span></span></a>
        <figure class="logo">
            <img id="logo" alt="logo_ohmyfood" src="../images/logo/ohmyfood@2x.svg">
        </figure>
    </header>
    <img class="resto large" src="../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"
        alt="restaurant, la note enchantée.">
    <section>
        <div class="name">
            <h2>La note enchantée</h2><span class="heart"></span>
        </div>
        <h3>ENTR&Eacute;ES</h3>
        <div class="wait-0 menu">
            <div class="menu_header">
                <span class="bold plat">Ravioles de foie gras</span>
                <span class="ingrédients">Accompagnés de leur crème à la truffe</span>
            </div>
            <span class="bold price">25€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-1 menu">
            <div class="menu_header">
                <span class="bold plat">Caviar osciètre</span>
                <span class="ingrédients">Sur blini à la farine de blé noir</span>
            </div>
            <span class="bold price">35€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-2 menu">
            <div class="menu_header">
                <span class="bold plat">Homard et espuma de potiron</span>
                <span class="ingrédients">Mariné aux zestes d'orange</span>
            </div>
            <span class="bold price">20€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-3 menu">
            <div class="menu_header">
                <span class="bold plat">Foie gras de canard cuit entier</span>
                <span class="ingrédients">Confiture de figue et pain toasté</span>
            </div>
            <span class="bold price">35€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <h3>PLATS</h3>
        <div class="wait-4 menu">
            <div class="menu_header">
                <span class="bold plat">Noix de coquilles Saint-Jacques</span>
                <span class="ingrédients">Sur lit de purée de céleri-rave</span>
            </div>
            <span class="bold price">40€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-5 menu">
            <div class="menu_header">
                <span class="bold plat">Langoustine poêlée</span>
                <span class="ingrédients">Purée de patate douce</span>
            </div>
            <span class="bold price">35€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-6 menu">
            <div class="menu_header">
                <span class="bold plat">Mijoté de queue de boeuf </span>
                <span class="ingrédients">Et riz sauvage aux zestes de citron</span>
            </div>
            <span class="bold price">44€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <h3>DESSERTS</h3>
        <div class="wait-7 menu">
            <div class="menu_header">
                <span class="bold plat">Macaron noisette et chocolat</span>
                <span class="ingrédients">Glace au caramel brun et sel de Guérande</span>
            </div>
            <span class="bold price">18€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-8 menu">
            <div class="menu_header">
                <span class="bold plat">Baba au rhum revisité</span>
                <span class="ingrédients">Avec son coulis de citron</span>
            </div>
            <span class="bold price">22€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-9 menu">
            <div class="menu_header">
                <span class="bold plat">Tarte au citron meringuée</span>
                <span class="ingrédients">Déstructurée</span>
            </div>
            <span class="bold price">23€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <button class="bouton">Commander</button>
    </section>
    <footer>
        <a href="#">
            <span class="logo">ohmyfood</span>
        </a>
        <a href="#">
            <span class="eat">Proposer un restaurant</span>
        </a>
        <a href="#">
            <span class="market">Devenir partenaire</span>
        </a>
        <a href="#">
            <span>Mentions légales</span>
        </a>
        <a href="mailto:?to=adresse@serveur.com">
            <span>Contact</span>
        </a>
    </footer>
</body>