<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../../node_modules/normalize/normalize.css" />
    <link type="text/css" rel="stylesheet" href="../styles/menu_all.css" />
    <link type="text/css" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a href="../../index.html"><span></span></a>
        <figure class="logo">
            <image id="logo" alt="logo_ohmyfood" src="../images/logo/ohmyfood@2x.svg"></image>
        </figure>
    </header>
    <img class="resto" src="../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
        alt="restaurant, Le délice des sens.">
    <section>
        <div class="name">
            <h2>Le délice des sens</h2><span class="heart"></span>
        </div>
        <h3>ENTR&Eacute;ES</h3>
        <div class="wait-0 menu">
            <div class="menu_header">
                <span class="bold plat">Tartare de thon</span>
                <span class="ingrédients">Assaisonné au yuzu</span>
            </div>
            <span class="bold price">25€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-1 menu">
            <div class="menu_header">
                <span class="bold plat">Bouchée de homard croustillant </span>
                <span class="ingrédients">Et sa farandole de petits légumes</span>
            </div>
            <span class="bold price">35€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-2 menu">
            <div class="menu_header">
                <span class="bold plat">Velouté de cèpes </span>
                <span class="ingrédients">Aux truffes</span>
            </div>
            <span class="bold price">20€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <h3>PLATS</h3>
        <div class="wait-3 menu">
            <div class="menu_header">
                <span class="bold plat">Poulet rôti aux herbes de Provence</span>
                <span class="ingrédients">Et sa crème de truffe</span>
            </div>
            <span class="bold price">40€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-4 menu">
            <div class="menu_header">
                <span class="bold plat">Langouste rôties</span>
                <span class="ingrédients">Et ses légumes de saison</span>
            </div>
            <span class="bold price">35€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-5 menu">
            <div class="menu_header">
                <span class="bold plat">Côte de boeuf Angus</span>
                <span class="ingrédients">Et sa purée de panais</span>
            </div>
            <span class="bold price">44€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <h3>DESSERTS</h3>
        <div class="wait-6 menu">
            <div class="menu_header">
                <span class="bold plat">Crème brulée</span>
                <span class="ingrédients">Revisitée</span>
            </div>
            <span class="bold price">22€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <div class="wait-7 menu">
            <div class="menu_header">
                <span class="bold plat">Tiramisu </span>
                <span class="ingrédients">À la noisette</span>
            </div>
            <span class="bold price">23€<span>
                    <div class="menu_confirmation">
                        <div class="menu_icon">
                            <i class="check menu_icon">
                            </i>
                        </div>
                    </div>
        </div>
        <div class="wait-8 menu">
            <div class="menu_header">
                <span class="bold plat">Tarte au citron meringuée</span>
                <span class="ingrédients">Déstructurée</span>
            </div>
            <span class="bold price">23€</span>
            <div class="menu_confirmation">
                <div class="menu_icon">
                    <i class="check menu_icon">
                    </i>
                </div>
            </div>
        </div>
        <button class="bouton">Commander</button>
    </section>
    <footer>
        <a href="#">
            <span class="logo">ohmyfood</span>
        </a>
        <a href="#">
            <span class="eat">Proposer un restaurant</span>
        </a>
        <a href="#">
            <span class="market">Devenir partenaire</span>
        </a>
        <a href="#">
            <span>Mentions légales</span>
        </a>
        <a href="mailto:?to=adresse@serveur.com">
            <span>Contact</span>
        </a>
    </footer>
</body>
