
footer {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(51, 49, 49);
    padding: 2em 1em;
    a {
      color: white;
      text-decoration: none;
      margin-left: 1em;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
      &:first-of-type {
      margin-bottom: 1.8em;
      margin-bottom: 1em;
      }
      &:hover {
      text-decoration: underline;
      }
      span {
      font-family: $font_txt;
      &.eat::before {
        font-family: $font_icons;
        font-weight: bold;
        content: "\f2e7";
        color: white;
        margin-left: 0.4em;
        margin-right: 1.2em;
      }
      &.market::before {
        font-family: $font_icons;
        font-weight: bold;
        content: "\f4c4";
        color: white;
        margin-left: 0.4em;
        margin-right: 0.8em;
      }
      }
    }
    .logo {
      font-family: $font_logo;
      font-size: 1.35rem;
    }
    }