//--------------------------------------------------------------------------------------------MOBILES----------------------------------------------------------------------------\\
@media only screen and (min-width: 320px) and (max-width: 479px) {
  header {
    .logo {
      width: 50%;
    }

    .localisation {
      & span {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 0.1fr 0.6fr;
        grid-template-rows: 100%;
      }
      & span:before {
        font-family: $font_icons;
        font-weight: 700;
        font-size: 1.2rem;
        content: "\f3c5";
        padding: 0 2rem;
        grid-column-start: 2;
        grid-row-start: 1;
        display: inline-flex;
        margin-left: 3em;
        margin-right: 9em;
      }
    }

    p.slogan {
      margin-top: 1em;
      margin-bottom: 2em;
    }
    h2.slogan {
      font-size: 1.9em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .bouton {
      width: 50%;
      padding: 0.9em;
      white-space: nowrap;
      p {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 0.85rem;
      }
    }
  }
 
  li {
    &::before {
      left: 2rem;
      top: 2.99rem;
    //   margin-left: -2.5em;
    }
  }
  .nav {
    h4 {
      margin-top: 1.83em;
      margin-bottom: 1.5em;
      margin-left: 0.5em;
      margin-right: 1.5em;
      grid-column: 2 / span 3;
      font-size: 1.05em;
      font-weight: bolder;
    }
    .function1,
    .function2,
    .function3 {
      display: grid;
      grid-template-columns: 0.7fr 1fr 0.5fr;
      grid-template-rows: 100%;
      background: #f2f2f2;
      margin-bottom: 1rem;
      margin-left: 2.5em;
      margin-right: 1em;
      &::before {
        margin-top: 1.83em;
        margin-bottom: 1.83em;
        margin-left: 2em;
      }
    }
  }

  section.container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 0.1fr);
    figure {
      width: 89%;
      margin-top: 0;
      margin-bottom: 0.8em;
      margin-left: 1.4em;
      .heart {
        // width: 40px;
      }
      .heart::before {
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
      }
      span.green::before {
        position: absolute;
        margin-top: 4%;
        right: 10%;
      }
      img {
        height: 12rem;
      }
      figcaption {
        margin-left: 15.5px;
        margin-bottom: -1em;
        width: 5em;
        white-space: nowrap;
      }
    }
  }
  @import "footer.scss";
}
