//--------------------------------------------------------------------------------------------TABLETTES----------------------------------------------------------------------------\\
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  header {
    .logo {
      width: 30%;
    }

    .localisation {
      width: 100%;
      input {
        width: 50%;
        height: 50%;
        font-size: 1.5rem;
        position: relative;
        right: -15vw;
        align-self: unset;
        grid-column-start: unset;
        grid-row-start: unset;
        display: unset;
        justify-content: unset;
        align-items: unset;
        margin-left: 0;
      }
      &:before {
        font-family: $font_icons;
        font-weight: 700;
        font-size: 2rem;
        content: "\f3c5";
        padding: 0 2rem;
        position: relative;
        right: -29vw;
      }
    }
    h2.slogan {
      font-size: 1.5em;
    }
    p.slogan {
      font-size: 1.2em;
      margin-top: 0.5em;
      margin-bottom: 1em;
      font-weight: normal;
      line-height: initial;
    }
    .bouton {
      width: 50%;
      margin-bottom: 4em;
      p {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1rem;
      }
      &:hover,
      &:focus {
        transition: filter 0.9s ease-in-out;
        outline: none;
      }
    }
  }
  li {
    &::before {
      left: 0;
      top: 3rem;
    }
  }
  .nav {
    grid-template-columns: 0.75fr 1.5fr 0.75fr;
    h4 {
      margin-top: 1.83em;
      margin-bottom: 1.5em;
      margin-left: 0.5em;
      margin-right: 1.5em;
      grid-column: 2 / span 3;
      font-size: 1.05em;
      font-weight: bolder;
    }
    .function1:focus::before,
    .function2:focus::before,
    .function3:focus::before {
      outline: none;
    }
    .function1:hover::before,
    .function2:hover::before,
    .function3:hover::before {
      outline: none;
    }
    .function1,
    .function2,
    .function3 {
      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
      grid-template-rows: 100%;
      background: #f2f2f2;
      margin-right: 2rem;
      &::before {
        margin-top: 1.83em;
        margin-bottom: 1.83em;
        margin-left: 2em;
        margin-right: 2em;
        color: grey;
      }
    }
  }

  section.container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 0.1fr);
    figure {
      width: 90%;
      height: auto;
      margin-top: 0;
      margin-bottom: 0.8em;
      margin-left: 2.3em;
      .ville {
        font-size: 1.2em;
      }
      .heart::before {
        display: inline-flex;
        justify-content: flex-end;
        width: 2em;
        height: 2em;
        text-align: right;
      }
      img {
        height: 24rem;
      }
      figcaption {
        margin-left: 15.5px;
        font-size: 1.5em;
      }
      span {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        justify-content: space-between;
        font-size: 1em;
        margin-left: 15.5px;
        grid-row-start: 1;
        grid-column-start: 1;
        &.green::before {
          position: absolute;
          margin-top: 4%;
          right: 10%;
        }
      }
    }
  }
  @import "footer";
}
