
@import 'head.scss';


// //Les styles de base (Qui reviendront sur chaque dimension)

// //Des medias pour faire des spécificités
// .container {
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-between;
// 	flex-wrap: wrap;
// 	max-width: 600px;
// 	margin: auto;

// 	figure{
// 		max-width:300px;
// 		width: 90%;
// 		//design des fiogures	
// 	}
// }



//--------------------------------------------------------------------------------------------MOBILES----------------------------------------------------------------------------\\
@media only screen and (min-device-width:320px) and (max-device-width: 480px) {
	body,
	html {
	  background: white;
	  padding: 0;
	  margin: 0;
	  line-height: 1.6;
	  counter-reset: liste;
	  overflow-x: hidden;
	  scroll-behavior: smooth;
	  h2 {
		margin-inline-start: 1em;
	  }
	}
	*{box-sizing: border-box;}
	h2,
	h4,
	p,
	figcaption,
	span {
	  font-family: $font_txt;
	}
	header {
	  display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  background: #f2f2f2;
	  figure {
		display: flex;
		width: 100%;
		background: white;
		background-size: cover;
		background-repeat: no-repeat;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	  }
	  .logo {
		margin: auto;
		border: 0;
		width: 50%;
		padding: 1em;
	  }
	  
	  .localisation {
		background-color: #d8d8d8;
		width: auto;
		padding: 1em;
		color: #000000;
		box-shadow: inset 0 3px 7px #a3a3a3;
		& span{
			width: 100%;
			display: inline-grid;
			grid-template-columns: 0.1fr 0.6fr;
			grid-template-rows: 100%;
		}
		& span:before {
		  font-family: $font_icons;
		  font-weight: 700;
		  font-size: 1.2rem;
		  content: '\f3c5';
		  padding: 0 2rem;
		  grid-column-start: 2;
		  grid-row-start: 1;
		  display: inline-flex;
		  margin-inline-start: 3em;
		  margin-inline-end: 9em;
		}
		input {
			font-family: 'Arial';
			width: 100%;
			height: 55%;
			font-weight: 700;
			z-index: 1000;
			font-size: 1rem;
			border: none;
			background: none;
			text-align: center;
			align-self: center;
			grid-column-start: 2;
			grid-row-start: 1;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-inline-start: 2em;
		  }
	  }
	  h2.slogan,
	  p.slogan {
		text-align: center;
		margin: 0;
		padding: 0 2rem;
		
	  }
	  p.slogan{
		margin-block-start: 1em;
		margin-block-end: 2em;
		font-weight: 200;
		line-height: 1.25;
	  }
	  h2.slogan{
			font-size: 1.9em;
			margin: auto;
			margin-block-start: 1.5em;
			line-height: 1;	  
	  }
	  .bouton {
		background: linear-gradient(0deg, #9356dc, #ff79da);
		width: 50%;
		margin: auto;
		color: white;
		text-align: center;
		line-height: 10px;
		padding: 0.9em;
		margin-block-start: 0.5em;
		margin-block-end: 5em;
		border-radius: 10em;
		p {
			margin-inline-start: 5px;
			margin-inline-end: 5px;
			margin-block-start: 0.5em;
			margin-block-end: 0.5em;
			font-weight: 401;
			font-size: 0.85rem;
		}
		&:hover {
		  background: linear-gradient(
			140deg,
			lighten($primary, 10),
			lighten($secondary, 10)
		  );
		  box-shadow: 5px 2.5px 2.5px darken(#f2f2f2, 10);
		}
	  }
	  p {
		padding: 0;
	  }
	}
	a {
		text-decoration: none;
		color: #000000;
	  &:hover {
		text-decoration: underline;
	  }
	}
	button {
	  box-shadow: 0.25rem 0.25rem 10px #bbb8b8;
	  border-radius: 2em;
	  border: none;
	}
	.bold {
	  font-weight: bold;
	}
	li {
	  list-style-type: none;
	  &::before {
		counter-increment: liste;
		content: counter(liste);
		background: #9356dc;
		color: white;
		border-radius: 50%;
		width: 1.5rem;
		height: 1.5rem;
		display: inline-flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		z-index: 1000;
		position: relative;
		left: 2rem;
		top: 2.99rem;
		margin-inline-start: 0.5em;
	  }
	}
	$fa-var-mobile-alt: '\f3cd';
	$fa-var-list-ul: '\f0ca';
	$fa-var-store: '\f54e';
  
	$functions: (function1, $fa-var-mobile-alt), (function2, $fa-var-list-ul),
	  (function3, $fa-var-store);
	@each $function in $functions {
	  .#{nth($function,1)}::before {
		display: inline-block;
		font-family: $font_icons;
		font-weight: bold;
		color: grey;
		content: '#{nth($function,2)}';
	  }
	}
	.function1:focus::before, .function2:focus::before, .function3:focus::before{
		color:$primary;
	}
	.function1:hover::before, .function2:hover::before, .function3:hover::before{
		color:$primary;
	}
	.nav {
	  h4 {
		margin-block-start: 1.83em;
		margin-block-end: 1.5em;
		margin-inline-start: 0.5em;
		margin-inline-end: 1.5em;
		grid-column: 2 / span 3;
		font-size: 1.05em;
		font-weight: bolder;
	  }
	  .function1,
	  .function2,
	  .function3 {
		width: 80%;
		display: grid;
		grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
		grid-template-rows: 100%;
		background: #f2f2f2;
		margin-bottom: 1rem;
		margin-inline-start: 2.5em;
		&::before {
		  margin-block-start: 1.83em;
		  margin-block-end: 1.83em;
		  margin-inline-start: 2em;
		}
	  }
	}
  
	section.container {
		width: 100%;
		padding: 0;
		display: grid;
		grid-row-gap: 0.5em;
		border-radius: 0;
		grid-template-columns: 100%;
		grid-template-rows: repeat(4, 0.1fr);
		background: none;

		figure {
			background-color: white;
			width: 89%;
			border-radius: 1rem;
			padding-bottom: 1.5vh;
			box-shadow: 0 0 16px #000;
			text-align: left;
			margin-left: 1em;
			margin-block-start: 0;
			margin-block-end: 0.8em;
			margin-inline-start: 1.4em;
			grid-template-columns: 5fr 1fr;
			.ville{
				line-height: 0.6;
				margin-inline-start: 1em;
				margin-block-start: 1em;
				display:grid;
				grid-column-start: 1;
				white-space: nowrap;
			}
			.heart{
				grid-column-start: 2;
				margin-block-start: -1em;
				margin-block-end: 0.5em;
				margin-inline-end: 0.5em;
				width:40px;
				z-index: 10;
			}
			.heart::before {
				display: block;
				content: '';
				background-image: url('../images/icone/heart-regular.svg');
				background-size: 28px 28px;
				height: 28px;
				width: 28px;
				transition: background-image 2s;
			}
			span.green::before{
				font-family: 'Roboto';
				content: 'Nouveau';
				background-color: #99e2d0;
				color: green;
				font-weight: bold;
				padding: 0.5em;
				position: absolute;
				margin-top: 4%;
				right: 10%;
			}
			img {
				height: 12rem;
				box-sizing: content-box;
				width: 100%;
				object-fit: cover;
				border-radius: 1rem 1rem 0 0;
			}
			figcaption {
				margin-inline-start: 15.5px;
				margin-block-start: 0.5em;
				margin-block-end: -1em;
				width: 5em;
				white-space: nowrap;
			}
		}
	}
	#n1{ 
		margin-inline-start: 12.5em;
	}
	#n2{
		margin-inline-start: 12em;
	}
	#n0,#n3{
		margin-inline-start: 10em;
	}
	.heart:hover::before, .heart:focus::before{
		background-image: url('../images/icone/heart-solid.svg');
	  }
	@import 'footer.scss'; 
}
//--------------------------------------------------------------------------------------------TABLETTES----------------------------------------------------------------------------\\
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
	body,
	html {
	  background: white;
	  padding: 0;
	  margin: 0;
	  line-height: 1.6;
	  counter-reset: liste;
	  scroll-behavior: smooth;
	  h2 {
		margin-inline-start: 1em;
	  }
	}
	*{box-sizing: border-box;}
	h2,
	h4,
	p,
	figcaption,
	span {
	  font-family: $font_txt;
	}
	header {
	  display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  background: #f2f2f2;
	  figure {
		display: flex;
		width: 100%;
		background: white;
		background-size: cover;
		background-repeat: no-repeat;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	  }
	  .logo,input,.localisation,.localisation::before{
		margin: auto;
	  }
	  .logo {
		border: 0;
		width: 30%;
		padding: 1em;
	  }
	  input {
		font-family: 'Arial';
		width: 50%;
		height: 50%;
		font-weight: 700;
		z-index: 1000;
		font-size: 1.5rem;
		border: none;
		background: none;
		text-align: center;
		position: relative;
    	right: -15vw;
	  }
	  .localisation {
		background-color: #d8d8d8;
		width: 100%;
		padding: 1em;
		color: #000000;
		box-shadow: inset 0 3px 7px #a3a3a3;
		&:before {
		  font-family: $font_icons;
		  font-weight: 700;
		  content: '\f3c5';
		  padding: 0 2rem;
		  position: relative;
		  right: -29vw;
		}
	  }
	  h2.slogan,
	  p.slogan {
		text-align: center;
		padding: 0 2rem;
	  }
	  h2.slogan{
		  font-size:1.5em;
	  }
	  p.slogan{
		  font-size: 1.2em;
	  }
	  .bouton {
		background: linear-gradient(0deg, #9356dc, #ff79da);
		width: 50%;
		margin: auto;
		color: white;
		text-align: center;
		line-height: 10px;
		padding: 1em;
		margin-block-start: 0.5em;
		margin-block-end: 4em;
		p {
		  margin-inline-start: 5px;
		  margin-inline-end: 5px;
		  margin-block-start: 0.5em;
		  margin-block-end: 0.5em;
		  font-weight: 400;
		  font-size: 1rem;
		}
		&:hover, &:focus{
		  background: linear-gradient(
			140deg,
			lighten($primary, 10),
			lighten($secondary, 10)
		  );
		  transition: filter 0.9s ease-in-out;
		  box-shadow: 5px 2.5px 2.5px darken(#f2f2f2, 10);
		  outline: none;
		}
	  }
	  p {
		padding: 0;
	  }
	}
	a {
	  text-decoration: none;
	  color: #000000;
	  &:hover {
		text-decoration: underline;
	  }
	}
	button {
	  box-shadow: 0.25rem 0.25rem 10px #bbb8b8;
	  border-radius: 2em;
	  border: none;
	}
	.bold {
	  font-weight: bold;
	}
	li {
	  list-style-type: none;
	  &::before {
		counter-increment: liste;
		content: counter(liste);
		background: #9356dc;
		color: white;
		border-radius: 50%;
		width: 1.5rem;
		height: 1.5rem;
		display: inline-flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		z-index: 1000;
		position: relative;
		left: 11rem;
		top: 3.3rem;		
	  }
	}
	$fa-var-mobile-alt: '\f3cd';
	$fa-var-list-ul: '\f0ca';
	$fa-var-store: '\f54e';
  
	$functions: (function1, $fa-var-mobile-alt), (function2, $fa-var-list-ul),
	  (function3, $fa-var-store);
	@each $function in $functions {
	  .#{nth($function,1)}::before {
		display: inline-block;
		font-family: $font_icons;
		font-weight: bold;
		color: $primary;
		content: '#{nth($function,2)}';
	  }
	}
	.nav {
	  h4 {
		margin-block-start: 1.83em;
		margin-block-end: 1.5em;
		margin-inline-start: 0.5em;
		margin-inline-end: 1.5em;
		grid-column: 2 / span 3;
		font-size: 1.05em;
		font-weight: bolder;
	  }
	  .function1:focus::before, .function2:focus::before, .function3:focus::before {
		color: #9356DC;
		outline:none;
	  }
	  .function1:hover::before, .function2:hover::before, .function3:hover::before {
		color: #9356DC;
		outline:none;
	  }
	  .function1,
	  .function2,
	  .function3 {
		margin: auto;
		width: 50%;
		display: grid;
		grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
		grid-template-rows: 100%;
		background: #f2f2f2;
		&::before {
		  margin-block-start: 1.83em;
		  margin-block-end: 1.83em;
		  margin-inline-start: 2em;
		  color:grey;
		}
	  }
	}
  
	section.container {
	  width: 100%;
	  padding: 0;
	  display: grid;
	  grid-row-gap: 0.5em;
	  border-radius: 0;
	  grid-template-columns: 100%;
	  grid-template-rows: repeat(4, 0.1fr);
	  background: none;
	  figure {
		background-color: white;
		width: 90%;
		height: auto;
		border-radius: 1rem;
		padding-bottom: 1.5vh;
		box-shadow: 0 0 16px #000;
		text-align: left;
		margin-left: 1em;
		margin-block-start: 0;
		margin-block-end: 0.8em;
		margin-inline-start: 2.3em;
		grid-template-columns: 5fr 1fr;
		.ville {
			line-height: 0.6;
    		margin-inline-start: 1em;
    		margin-block-start: 1em;
    		display: grid;
			grid-column-start: 1;
			font-size: 1.2em;
			white-space: nowrap;
		}
		.heart{
			grid-column-start: 2;
			margin-block-start: -1em;
			margin-block-end: 0.5em;
			margin-inline-end: 0.5em;
		}
		.heart::before{
			font-family: "Font Awesome 5 Free";
			content: url(../images/icone/heart-regular.svg);
			display: inline-flex;
			justify-content: flex-end;
			width: 2em;
			height: 2em;
			text-align: right;
		}
		img {
		  height: 24rem;
		  box-sizing: content-box;
		  width: 100%;
		  object-fit: cover;
		  border-radius: 1rem 1rem 0 0;
		}
		figcaption {
		  margin-inline-start: 15.5px;
		  margin-block-start: 0.5em;
		  font-size: 1.5em;
		}
		span {
		  display: grid;
		  grid-template-columns: 1fr 1fr;
		  grid-template-rows: 1fr;
		  align-items: start;
		  justify-content: space-between;
		  font-size: 1em;
		  margin-inline-start: 15.5px;
		  grid-row-start: 1;
		  grid-column-start: 1;
		  &.green::before{
			font-family: 'Roboto';
			content: 'Nouveau';
			background-color: #99e2d0;
			color: green;
			font-weight: bold;
			padding: 0.5em;
			position: absolute;
			margin-top: 4%;
			right: 10%;
		  }
		  
		}
	  }
	 
	}
	#n1, #n2 {
		margin-inline-start: 13em;
	}
	section.container figure span .heart {
		margin-inline-start: 13em;
	}
	@import'footer';
}
//---------------------------------------------------------------------------------------------DESKTOP----------------------------------------------------------------------------\\
@media only screen and (min-device-width:1025px) and (max-device-width:1600px){
	body,
	html {
	  background: white;
	  padding: 0;
	  margin: 0;
	  line-height: 1.6;
	  counter-reset: liste;
	  scroll-behavior: smooth;
	  h2 {
		margin-inline-start: 1em;
	  }
	}
	*{box-sizing: border-box;}
	h2,
	h4,
	p,
	figcaption,
	span {
	  font-family: $font_txt;
	}
	header {
	  display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  background: #f2f2f2;
	  figure {
		display: flex;
		width: 100%;
		background: white;
		background-size: cover;
		background-repeat: no-repeat;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	  }
	  .logo {
		margin: auto;
		border: 0;
		width: 30%;
		padding: 1em;
	  }
	  .logo,input,.localisation,.localisation::before{
		margin: auto;
	  }
	  .localisation {
		background-color: #d8d8d8;
		width: auto;
		padding: 1em;
		color: #000000;
		box-shadow: inset 0 3px 7px #a3a3a3;
		display: inline-grid;
		& span{
			width: 25%;
			display: inline-grid;
			grid-template-columns: 0.1fr 0.6fr;
			grid-template-rows: 100%;
		}
		& span:before {
		  font-family: $font_icons;
		  font-weight: 700;
		  font-size: 1.2rem;
		  content: '\f3c5';
		  padding: 0 2rem;
		  grid-column-start: 2;
		  grid-row-start: 1;
		  display: inline-flex;
		  margin-inline-start: 3em;
		  margin-inline-end: 9em;
		}
		input {
			font-family: 'Arial';
			width: 100%;
			height: 55%;
			font-weight: 700;
			z-index: 1000;
			font-size: 1rem;
			border: none;
			background: none;
			text-align: center;
			align-self: center;
			grid-column-start: 2;
			grid-row-start: 1;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-inline-start: 2em;
		  }
	  }
	  h2.slogan,
	  p.slogan {
		text-align: center;
		margin: 0;
		padding: 0 2rem;
		
	  }
	  p.slogan{
		margin-block-start: 1em;
		margin-block-end: 2em;
		font-weight: 200;
		line-height: 1.25;
		font-size: 2em;
	  }
	  h2.slogan{
			font-size: 2.5em;
			margin: auto;
			margin-block-start: 1.5em;
			line-height: 1;	  
	  }
	  .bouton {
		background: linear-gradient(0deg, #9356dc, #ff79da);
		width: 22.5%;
		margin: auto;
		color: white;
		text-align: center;
		line-height: 10px;
		padding: 1em;
		margin-block-start: 0.5em;
		margin-block-end: 5em;
		border-radius: 10em;
		p {
			margin-inline-start: 2.5px;
			margin-inline-end: 2.5px;
			margin-block-start: 0.5em;
			margin-block-end: 0.5em;
			font-weight: 401;
			font-size: 1rem;
		}
		&:hover {
		  background: linear-gradient(
			140deg,
			lighten($primary, 10),
			lighten($secondary, 10)
		  );
		  box-shadow: 5px 2.5px 2.5px darken(#f2f2f2, 10);
		}
	  }
	  p {
		padding: 0;
	  }
	}
	a {
		text-decoration: none;
		color: #000000;
	  &:hover {
		text-decoration: underline;
	  }
	}
	button {
	  box-shadow: 0.25rem 0.25rem 10px #bbb8b8;
	  border-radius: 2em;
	  border: none;
	}
	.bold {
	  font-weight: bold;
	}
	li {
	  list-style-type: none;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  &::before {
		counter-increment: liste;
		content: counter(liste);
		background: #9356dc;
		color: white;
		border-radius: 50%;
		width: 1.5rem;
		height: 1.5rem;
		display: inline-flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		z-index: 1000;
		position: relative;
		left: 1rem;
		bottom: 0.5rem;
		align-self: center;
	  }
	}
	.nav{
		display: inline-grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 25% 100%;
		width: 100%;
		& span.bold{
			grid-column: 1 / span 3;
		}
	}
	$fa-var-mobile-alt: '\f3cd';
	$fa-var-list-ul: '\f0ca';
	$fa-var-store: '\f54e';
  
	$functions: (function1, $fa-var-mobile-alt), (function2, $fa-var-list-ul),
	  (function3, $fa-var-store);
	@each $function in $functions {
	  .#{nth($function,1)}::before {
		display: inline-block;
		font-family: $font_icons;
		font-weight: bold;
		color: grey;
		content: '#{nth($function,2)}';
	  }
	}
	.function1:focus::before, .function2:focus::before, .function3:focus::before{
		color:$primary;
	}
	.function1:hover::before, .function2:hover::before, .function3:hover::before{
		color:$primary;
	}
	.nav {
	  h4 {
		grid-column: 2 / span 3;
		font-size: 1em;
		font-weight: bolder;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-block-start: 2em;
	  }
	  .function1,
	  .function2,
	  .function3 {
		width: 90%;
		display: grid;
		grid-template-columns: 0.5fr 1fr 1fr;
		grid-template-rows: 100%;
		background: #f2f2f2;
		margin-bottom: 1rem;
		&::before {
			margin-block-start: 2.1em;
			margin-block-end: 2em;
			margin-inline-start: 2em;
		}
	  }
	}
	section.container {
		width: 100%;
		padding: 0;
		display: inline-grid;
		border-radius: 0;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: 0.5fr repeat(2, auto);
		background: none;
		margin-block-end: 2em;
		&:first-child{
			grid-column-start: 1;
			grid-row-start:1;
			margin-block-start: 1em;
			margin-block-end: 1em;
		}
		.f1,.f2{
			grid-row-start: 2;
			
		}
		.f3, .f4{
			grid-row-start:3;
		}
		.f1{ 
			grid-column-start: 1;
		}
		.f2{
			grid-column-start: 2;
		}
		.f3{
			grid-column-start: 1;
		}
		.f4{
			grid-column-start: 2;
		}
		figure {
			background-color: white;
			width: 85%;
			border-radius: 1rem;
			padding-bottom: 1.5vh;
			box-shadow: 0 0 16px #000;
			text-align: left;
			grid-template-columns: 5fr 1fr;
			.ville{
				line-height: 0.6;
				margin-inline-start: 1em;
				margin-block-start: 1em;
				display:grid;
				grid-column-start: 1;
				font-size: 1.5em;
				white-space: nowrap;
			}
			
			span.green::before{
				font-family: 'Roboto';
				content: 'Nouveau';
				text-align:center;
				background-color: #99e2d0;
				color: green;
				font-weight: bold;
				padding: 0.5em;
				position: absolute;
				border-radius: 1em 0 1em 0;
				width: 7em;
			}
			img {
				height: 21rem;
				box-sizing: content-box;
				width: 100%;
				object-fit: cover;
				border-radius: 1rem 1rem 0 0;
			}
			figcaption {
				margin-inline-start: 24.5px;
				margin-block-start: 0.5em;
				margin-block-end: -1em;
				font-size: 1.65em;
				width: 10em;
			}
		}
	}
	.heart{
		grid-column-start: 2;
		width: 200px;
		z-index:10;
	}
	.heart::before {
		display: block;
		content: '';
		background-image: url('../images/icone/heart-regular.svg');
		background-size: 28px 28px;
		height: 28px;
		width: 28px;
		transition: background-image 2s;
	}
	.heart:hover::before{
		background-image: url('../images/icone/heart-solid.svg');
	}
	span#n0{
		margin-inline-start: 14em;
	}
	span#n1{
		margin-inline-start: 17em;
	}
	span#n2{
		margin-inline-start: 16em;
	}
	span#n3{
		margin-inline-start: 14.5em;
	}

	@import 'footer.scss'
}
//--------------------------------------------------------------------------------------------BIG-DESKTOP----------------------------------------------------------------------------\\
@media only screen and (min-device-width :1601px){
	body,
	html {
	  background: white;
	  padding: 0;
	  margin: 0;
	  line-height: 1.6;
	  counter-reset: liste;
	  h2 {
		margin-inline-start: 1em;
	  }
	}
	*{box-sizing: border-box;}
	h2,
	h4,
	p,
	figcaption,
	span {
	  font-family: $font_txt;
	}
	header {
	  display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  background: #f2f2f2;
	  figure {
		display: flex;
		width: 100%;
		background: white;
		background-size: cover;
		background-repeat: no-repeat;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	  }
	  .logo {
		margin: auto;
		border: 0;
		width: 25%;
		padding: 1em;
		width: 60%;
		margin-inline-start: 20em;
		margin-inline-end: 20em;
	  }
	  .logo,input,.localisation,.localisation::before{
		margin: auto;
	  }
	  .localisation {
		background-color: #d8d8d8;
		width: auto;
		padding: 1em;
		color: #000000;
		box-shadow: inset 0 3px 7px #a3a3a3;
		display: inline-grid;
		& span{
			width: 25%;
			display: inline-grid;
			grid-template-columns: 0.1fr 0.6fr;
			grid-template-rows: 100%;
		}
		& span:before {
		  font-family: $font_icons;
		  font-weight: 700;
		  font-size: 1.2rem;
		  content: '\f3c5';
		  padding: 0 2rem;
		  grid-column-start: 2;
		  grid-row-start: 1;
		  display: inline-flex;
		  margin-inline-start: 3em;
		  margin-inline-end: 9em;
		}
		input {
			font-family: 'Arial';
			width: 100%;
			height: 55%;
			font-weight: 700;
			z-index: 1000;
			font-size: 1rem;
			border: none;
			background: none;
			text-align: center;
			align-self: center;
			grid-column-start: 2;
			grid-row-start: 1;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-inline-start: 2em;
		  }
	  }
	  h2.slogan,
	  p.slogan {
		text-align: center;
		margin: 0;
		padding: 0 2rem;
		
	  }
	  p.slogan{
		margin-block-start: 1em;
		margin-block-end: 2em;
		font-weight: 200;
		line-height: 1.25;
		font-size: 2em;
	  }
	  h2.slogan{
			font-size: 2.5em;
			margin: auto;
			margin-block-start: 1.5em;
			line-height: 1;	  
	  }
	  .bouton {
		background: linear-gradient(0deg, #9356dc, #ff79da);
		width: 18%;
		margin: auto;
		color: white;
		text-align: center;
		line-height: 10px;
		padding: 1em;
		margin-block-start: 0.5em;
		margin-block-end: 5em;
		border-radius: 10em;
		p {
			margin-inline-start: 2.5px;
			margin-inline-end: 2.5px;
			margin-block-start: 0.5em;
			margin-block-end: 0.5em;
			font-weight: 401;
			font-size: 1.5rem;
		}
		&:hover {
		  background: linear-gradient(
			140deg,
			lighten($primary, 10),
			lighten($secondary, 10)
		  );
		  box-shadow: 5px 2.5px 2.5px darken(#f2f2f2, 10);
		}
	  }
	  p {
		padding: 0;
	  }
	}
	a {
		text-decoration: none;
		color: #000000;
	  &:hover {
		text-decoration: underline;
	  }
	}
	button {
	  box-shadow: 0.25rem 0.25rem 10px #bbb8b8;
	  border-radius: 2em;
	  border: none;
	}
	.bold {
	  font-weight: bold;
	}
	li {
	  list-style-type: none;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  &::before {
		counter-increment: liste;
		content: counter(liste);
		background: #9356dc;
		color: white;
		border-radius: 50%;
		width: 1.5rem;
		height: 1.5rem;
		display: inline-flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		z-index: 1000;
		position: relative;
		left: 4rem;
		bottom: 0.5rem;
		margin-inline-start: 0.5em;
		align-self: center;
	  }
	}
	.nav{
		display: inline-grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 25% 100%;
		width: 100%;
		& span.bold{
			grid-column: 1 / span 3;
		}
	}
	$fa-var-mobile-alt: '\f3cd';
	$fa-var-list-ul: '\f0ca';
	$fa-var-store: '\f54e';
  
	$functions: (function1, $fa-var-mobile-alt), (function2, $fa-var-list-ul),
	  (function3, $fa-var-store);
	@each $function in $functions {
	  .#{nth($function,1)}::before {
		display: inline-block;
		font-family: $font_icons;
		font-weight: bold;
		color: grey;
		content: '#{nth($function,2)}';
	  }
	}
	.function1:focus::before, .function2:focus::before, .function3:focus::before{
		color:$primary;
	}
	.function1:hover::before, .function2:hover::before, .function3:hover::before{
		color:$primary;
	}
	.nav {
	  h4 {
		margin-block-start: 1.83em;
		margin-block-end: 1.5em;
		margin-inline-start: 0.5em;
		margin-inline-end: 1.5em;
		grid-column: 2 / span 3;
		font-size: 1em;
		font-weight: bolder;
	  }
	  .function1,
	  .function2,
	  .function3 {
		width: 60%;
		display: grid;
		grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
		grid-template-rows: 100%;
		background: #f2f2f2;
		margin-bottom: 1rem;
		margin-inline-start: 3.5em;
		&::before {
			margin-block-start: 1.85em;
			margin-block-end: 2em;
			margin-inline-start: 2em;
		}
	  }
	}
	section.container {
		width: 100%;
		padding: 0;
		display: grid;
		grid-row-gap: 0.5em;
		border-radius: 0;
		grid-template-columns: 50% 50%;
		grid-template-rows: 0.5fr repeat(2, 1fr);
		background: none;
		&:first-child{
			grid-column: 1;
			grid-row-start:1;
			margin-block-start: 1em;
			margin-block-end: 1em;
		}
		.f1,.f2{
			grid-row-start: 2;
		}
		.f3, .f4{
			grid-row-start:3;
		}
		figure {
			background-color: white;
			width: 60%;
			border-radius: 1rem;
			padding-bottom: 1.5vh;
			box-shadow: 0 0 16px #000;
			text-align: left;
			margin-left: 1em;
			margin-block-start: 0;
			margin-block-end: 3em;
			margin-inline-start: 16em;
			grid-template-columns: 5fr 1fr;
			.ville{
				margin-inline-start: 1em;
				margin-block-start: 1em;
				display:grid;
				grid-template-columns: 80% 10%;
    			grid-template-rows: 100%;
				grid-column-start: 1;
				font-size: 1.5em;
				white-space: nowrap;
				flex-direction: row;
			}
			span.green::before{
				font-family: 'Roboto';
				content: 'Nouveau';
				text-align:center;
				background-color: #99e2d0;
				color: green;
				font-weight: bold;
				padding: 0.5em;
				position: absolute;
				border-radius: 1em 0 1em 0;
				width: 7em;
			}
			img {
				height: 21rem;
				box-sizing: content-box;
				width: 100%;
				object-fit: cover;
				border-radius: 1rem 1rem 0 0;
			}
			figcaption {
				margin-inline-start: 24.5px;
				margin-block-start: 0.5em;
				margin-block-end: -1em;
				font-size: 1.65em;
				width: 10em;
			}
		}
	}
	.heart{
		grid-column-start: 2;
		width: 200px;
		z-index:10;
	}
	.heart::before {
		display: block;
		content: '';
		background-image: url('../images/icone/heart-regular.svg');
		background-size: 28px 28px;
		height: 28px;
		width: 28px;
		transition: background-image 2s;
	}
	.heart:hover::before{
		background-image: url('../images/icone/heart-solid.svg');
	}
	@import 'footer.scss'; 
}