
@import 'head.scss';
// MOBILE
@media only screen and (min-width:320px) and (max-width: 480px) {
  body{
    font-family: $font_txt;
  }
    header {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 10% 90%;
      background-color: white;
      .logo{
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.5em;
        margin-bottom: 0;
        #logo{
          height: 70%;
          width: 70%;
          margin-left: 4em;
        }
      }
      a{
        text-decoration: none;
      }
      a:active, a:visited, a:-webkit-any-link,a:hover{
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      span{
        display:flex;
        &::after{
          font-family: $font_icons;
          content: "\f060";
          font-weight: bold;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }
	  .resto{
      width:100%;
      box-sizing: content-box;
      object-fit: cover;
      z-index: 0;
    }
    section{
      border-radius: 1em 1em 0 0;
      width: 100%;
      background-color:#f0f0f0; 
      z-index:1;
      margin-top:-85px;
      position: relative;
      h2{
        font-family: $font_logo;
        padding: 1em;
        font-size: 1.8em;
        font-weight: 400;
        display:flex;
        justify-content: space-between;
        white-space: nowrap;
      }
      h3{
        width: 2.5em;
        padding: 0.2em 0;
        text-transform: uppercase;
        font-family: $font_txt;
        font-weight: 400;
        border-bottom: 2px solid $thirdary;
        margin-left: 1em;
      }
      div{
        width:85%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 1em;
        margin-left: 0.5em;
        font-family: $font_txt;
      }
      .bold{
        font-weight: bold;
      }
      .plat{
        grid-row-start: 1;
        grid-column: 1 / span 2;
        font-size:1.1em;

      }
      .ingrédients{
        grid-row-start: 2;
        grid-column: 1/ span 2;
        width:90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9em;
      }
      .price{
        grid-row-start: 2;
        grid-column-start: 2;
        margin-left: 0.5em;
      }
      .phare{
        font-weight: 500;
      }
      button{
        background: $gradient;
        width: 50%;
        height: 20%;
        margin: auto;
        color: white;
        text-align: center;
        line-height: 10px;
        font-weight: 500;
        padding: 1.5em;
        margin-top: 4em;
        margin-bottom: 4em;
        margin-left: 5.5em;
        border-radius: 2em;
        border: none;
        filter: brightness(100%);
        transition: filter 0.9s ease-in-out;
        &:hover,&:focus{
          filter: brightness(150%);
          outline:none;
        }
      }
    }
    .heart{
      margin-left: 3em;
      grid-column-start: 2;
      width: 200px;
      z-index:10;
    }
    .heart::before {
      display: block;
      content: '';
      background-image: url('../images/icone/heart-regular.svg');
      background-size: 28px 28px;
      height: 28px;
      width: 28px;
      transition: background-image 2s;
    }
    .heart:hover::before{
      background-image: url('../images/icone/heart-solid.svg');
    }
    .menu {
      background-color: white;
      padding: 1rem 1rem 0rem 1rem;
      border-radius: 0.75rem;
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
      margin: 1rem 0;
      display: flex;
      overflow: hidden;
      cursor: pointer;
      animation: pop .6s;
      animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
      animation-fill-mode: both;
      transform: scale(0);
      max-width: 100%;
      margin-left: 1em;
    
      &_header {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
      }
    
      .plat {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    
      &_ingrédients {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    
      .price {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
      }
      &_confirmation {
        background-color: $thirdary;
        margin: -1rem -7.5rem -1rem 1rem;
        width: 6rem;
        height: 6rem;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
      }
    
      &:hover &_confirmation {
        margin-right: -1rem;
      }
    
      &_icon {
        height: 1.6rem;
        width: 1.6rem;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;
      }
      &:hover &_icon {
        transform: rotate(0);
      }
    
      &_icon {
        color:$thirdary;
      }
    }
    
    @for $i from 0 to 9 {
      .wait-#{$i} {
        animation-delay:  #{$i/10}s;
      }
    }
    
    @keyframes pop {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    .check::before{
      content: '\f00c';
      font-family: $font_icons;
      font-weight: bold;
      font-size: 1.2em;
    }
    @import 'footer.scss';
}
// IPAD
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  body{
    font-family: $font_txt;
  }
    header {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 10% 90%;
      background-color: white;
      .logo{
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.5em;
        margin-bottom: 0;
        #logo{
          height: 70%;
          width: 70%;
          margin-left: 7em;
        }
      }
      a{
        text-decoration: none;
      }
      a:active, a:visited, a:-webkit-any-link,a:hover{
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      span{
        display:flex;
        &::after{
          font-family: $font_icons;
          content: "\f060";
          font-weight: bold;
          font-size:1.5em;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }
	  .resto{
      width:100%;
      box-sizing: content-box;
      object-fit: cover;
      z-index: 0;
    }
    section{
      border-radius: 1em 1em 0 0;
      width: 100%;
      background-color:#f0f0f0; 
      z-index:1;
      margin-top:-85px;
      position: relative;
      h2{
        font-family: $font_logo;
        padding: 1em;
        font-size: 1.8em;
        font-weight: 400;
        display:flex;
        justify-content: space-between;
        white-space: nowrap;
      }
      h3{
        width: 2.5em;
        padding: 0.2em 0;
        text-transform: uppercase;
        font-family: $font_txt;
        font-weight: 400;
        border-bottom: 2px solid $thirdary;
        margin-left: 1em;
      }
      div{
        width:90%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 1em;
        margin-left: 0.5em;
        font-family: $font_txt;
      }
      .bold{
        font-weight: bold;
      }
      .plat{
        grid-row-start: 1;
        grid-column: 1 / span 2;
        font-size: 1.5em;
      }
      .ingrédients{
        grid-row-start: 2;
        grid-column: 1/ span 2;
        width:90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:1.2em;
      }
      .price{
        grid-row-start: 2;
        grid-column-start: 2;
        margin-left: 0.5em;
        font-size: 1.2em;
      }
      .phare{
        font-weight: 500;
      }
      button{
        background: $gradient;
        width: 50%;
        height: 20%;
        margin: auto;
        color: white;
        text-align: center;
        line-height: 10px;
        font-weight: 500;
        padding: 1.5em;
        margin-top: 4em;
        margin-bottom: 4em;
        margin-left: 12.5em;
        border-radius: 2em;
        border: none;
        filter: brightness(100%);
        transition: filter 0.5s;
        &:hover,&:focus{
          filter: brightness(150%);
          outline:none;
        }
      }
    }
    .heart{
      margin-left: 13em;
      grid-column-start: 2;
      width: 200px;
      z-index:10;
    }
    .heart::before {
      display: block;
      content: '';
      background-image: url('../images/icone/heart-regular.svg');
      background-size: 28px 28px;
      height: 28px;
      width: 28px;
      transition: background-image 2s;
    }
    .heart:hover::before{
      background-image: url('../images/icone/heart-solid.svg');
    }
    .menu {
      background-color: white;
      padding: 1rem 1rem 0rem 1rem;
      border-radius: 0.75rem;
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
      margin: 1rem 0;
      display: flex;
      overflow: hidden;
      cursor: pointer;
      animation: pop .6s;
      animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
      animation-fill-mode: both;
      transform: scale(0);
      max-width: 100%;
      margin-left: 1em;
    
      &_header {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
      }
    
      .plat {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    
      &_ingrédients {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    
      .price {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
      }
      &_confirmation {
        background-color: $thirdary;
        margin: -1rem -7.5rem -1rem 1rem;
        width: 6rem;
        height: 6rem;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
      }
    
      &:hover &_confirmation {
        margin-right: -1rem;
      }
    
      &_icon {
        height: 1.6rem;
        width: 1.6rem;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;
      }
      &:hover &_icon {
        transform: rotate(0);
      }
    
      &_icon {
        color:$thirdary;
      }
    }
    
    @for $i from 0 to 9 {
      .wait-#{$i} {
        animation-delay:  #{$i/10}s;
      }
    }
    
    @keyframes pop {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    .check::before{
      content: '\f00c';
      font-family: $font_icons;
      font-weight: bold;
      font-size: 1.2em;
    }
    @import 'footer.scss';
}
// DESKTOP
@media only screen and (min-width: 1224px) {
  body{
    font-family: $font_txt;
  }
    header {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 10% 90%;
      background-color: white;
      .logo{
        width: 60%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.5em;
        margin-bottom: 0;
        #logo{
          height: 70%;
          width: 70%;
          margin-left: 18em;
        }
      }
      a{ 
        text-decoration: none;
      }
      a:active, a:visited, a:-webkit-any-link,a:hover{
        color: black;
        text-decoration:none;
        cursor: pointer;
      }
      span{
        display:flex;
        &::after{
          font-family: $font_icons;
          content: "\f060";
          font-weight: bold;
          font-size:1.5em;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 1em;
          margin-right: 1em;
          color: black;
          text-decoration:none;
          cursor: pointer;
        }
      }
    }
    
	  .resto{ 
      width: 50%;
      box-sizing: content-box;
      object-fit: cover;
      z-index: 0;
      display: flex;
      margin: auto;
      border-radius: 2em 2em 0 0;
      &.large{
        
      }
    }
    section{
      border-radius: 2em 2em 0 0;
      width: 50.5%;
      background-color: #f0f0f0;
      z-index: 1;
      margin-top: -148px;
      margin-left: 21em;
      position: relative;
      h2{
        font-family: $font_logo;
        padding: 1em;
        font-size: 1.8em;
        font-weight: 400;
        display:flex;
        justify-content: space-between;
        white-space: nowrap;
      }
      h3{
        width: 2.5em;
        padding: 0.2em 0;
        text-transform: uppercase;
        font-family: $font_txt;
        font-weight: 400;
        border-bottom: 2px solid $thirdary;
        margin-left: 1em;
      }
      div{
        width:90%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        font-family: $font_txt;
      }
      .bold{
        font-weight: bold;
      }
      .plat{
        grid-row-start: 1;
        grid-column: 1 / span 2;
        font-size: 1.5em;
      }
      .ingrédients{
        grid-row-start: 2;
        grid-column: 1/ span 2;
        width:90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:1em;
      }
      .price{
        grid-row-start: 2;
        grid-column-start: 2;
        margin-left: 10em;
        font-size: 1.2em;
      }
      .phare{
        font-weight: 500;
      }
      button{
        background: $gradient;
        width: 25%;
        height: 20%;
        margin: auto;
        color: white;
        text-align: center;
        line-height: 10px;
        font-weight: 500;
        padding: 1.5em;
        margin-top: 4em;
        margin-bottom: 4em;
        margin-left: 15.5em;
        border-radius: 2em;
        border: none;
        filter: brightness(100%);
        transition: filter 0.5s;
        &:hover,&:focus{
          filter: brightness(150%);
          outline:none;
        }
      }
    }
    .heart{
      margin-left: 10em;
      grid-column-start: 2;
      width: 200px;
      z-index: 10;
    }
    .heart::before {
      display: block;
      content: '';
      background-image: url('../images/icone/heart-regular.svg');
      background-size: 28px 28px;
      height: 28px;
      width: 28px;
      transition: background-image 2s;
    }
    .heart:hover::before{
      background-image: url('../images/icone/heart-solid.svg');
    }
    .menu {
      background-color: white;
      padding: 1rem 1rem 0rem 1rem;
      border-radius: 0.75rem;
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
      margin: 1rem 0;
      display: flex;
      overflow: hidden;
      cursor: pointer;
      animation: pop .6s;
      animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
      animation-fill-mode: both;
      transform: scale(0);
      max-width: 100%;
      margin-left: 1em;
    
      &_header {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
      }
    
      .plat {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    
      &_ingrédients {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    
      .price {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
      }
      &_confirmation {
        background-color: $thirdary;
        margin: -1rem -7.5rem -1rem 1rem;
        width: 6rem;
        height: 6rem;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
      }
    
      &:hover &_confirmation {
        margin-right: -1rem;
      }
    
      &_icon {
        height: 1.6rem;
        width: 1.6rem;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;
      }
      
    
      &:hover &_icon {
        transform: rotate(0);
      }
    
      &_icon {
        color:$thirdary;
      }
    }
    
    @for $i from 0 to 9 {
      .wait-#{$i} {
        animation-delay:  #{$i/10}s;
      }
    }
    
    @keyframes pop {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    .check::before{
      content: '\f00c';
      font-family: $font_icons;
      font-weight: bold;
      font-size: 1.2em;
    }
    
    @import 'footer.scss';
}
// //BIG DESKTOP
@media only screen and (min-width :1601px){
  .logo{
    width: 60%;
    margin-left: 20em;
    margin-right: 20em;
  }
  section{
    border-radius: 2em 2em 0 0;
    width: 50%;
    background-color: #f0f0f0;
    z-index: 1;
    margin-top: -148px;
    margin-left: 475px;
    position: relative;
    margin: auto;
  }
  section button{
    margin-left: 21.5em;
  }
}