@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Roboto";
}

* {
  outline: none;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10% 90%;
  background-color: white;
}

header .logo {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0.5em;
  margin-block-end: 0;
}

header .logo #logo {
  height: 70%;
  width: 70%;
}

header a {
  text-decoration: none;
}

header a:active,
header a:visited,
header a:-webkit-any-link,
header a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header span {
  display: flex;
}

header span::after {
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

.resto {
  box-sizing: content-box;
  object-fit: cover;
  z-index: 0;
}

section {
  background-color: #f0f0f0;
  z-index: 1;
  position: relative;
}

section h2 {
  font-family: "Shrikhand";
  padding: 1em;
  font-size: 1.5em;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

section h3 {
  width: 2.5em;
  padding: 0.2em 0;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
  border-bottom: 2px solid #99E2D0;
  margin-inline-start: 1em;
}

section div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  margin-block-end: 1em;
  margin-inline-start: 0.5em;
  font-family: "Roboto";
}

section div.name {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  width: 100%;
}

section .bold {
  font-weight: bold;
}

section .plat {
  grid-row-start: 1;
  grid-column: 1 / span 2;
  font-size: 1.1em;
}

section .ingrédients {
  grid-row-start: 2;
  grid-column: 1 / span 2;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}

section .price {
  grid-row-start: 2;
  grid-column-start: 2;
}

section .phare {
  font-weight: 500;
}

section button {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  height: 20%;
  margin: auto;
  color: white;
  text-align: center;
  line-height: 10px;
  font-weight: 500;
  padding: 1.5em;
  margin-block-start: 4em;
  margin-block-end: 4em;
  border-radius: 2em;
  border: none;
  filter: brightness(100%);
}

section button:hover, section button:focus {
  filter: brightness(150%);
  outline: none;
}

.heart {
  grid-column-start: 2;
  z-index: 10;
  display: flex;
  justify-items: center;
  align-items: center;
}

.heart::before {
  display: block;
  content: "";
  background-image: url("../images/icone/heart-regular.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  transition: background-image 2s;
}

.heart:hover::before {
  background-image: url("../images/icone/heart-solid.svg");
}

.menu {
  background-color: white;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  animation: pop 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
  margin-inline-start: 1em;
}

.menu_header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.menu .plat {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu_ingrédients {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu .price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0.5rem;
}

.menu_confirmation {
  background-color: #99E2D0;
  margin: -1rem -7.5rem -1rem 1rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.menu:hover .menu_confirmation {
  margin-right: -1rem;
}

.menu_icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.menu:hover .menu_icon {
  transform: rotate(0);
}

.menu_icon {
  color: #99E2D0;
}

.wait-0 {
  animation-delay: 0s;
}

.wait-1 {
  animation-delay: 0.33333s;
}

.wait-2 {
  animation-delay: 0.66667s;
}

.wait-3 {
  animation-delay: 1s;
}

.wait-4 {
  animation-delay: 1.33333s;
}

.wait-5 {
  animation-delay: 1.66667s;
}

.wait-6 {
  animation-delay: 2s;
}

.wait-7 {
  animation-delay: 2.33333s;
}

.wait-8 {
  animation-delay: 2.66667s;
}

.wait-9 {
  animation-delay: 3s;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.check::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 1.2em;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
  * {
    outline: none;
  }
  header .logo {
    width: 90%;
  }
  header .logo #logo {
    margin-inline-start: 4em;
  }
  .resto {
    width: 100%;
  }
  section {
    border-radius: 1em 1em 0 0;
    width: 100%;
    margin-top: -85px;
  }
  section div {
    width: 85%;
  }
  section .ingrédients {
    font-size: 0.9em;
  }
  section .price {
    margin-inline-start: 0.5em;
  }
  section button {
    width: 50%;
    margin-inline-start: 5.5em;
    transition: filter 0.9s ease-in-out;
  }
}

@media only screen and (min-device-width: 481px) {
  header .logo {
    width: 90%;
  }
  header .logo #logo {
    margin-inline-start: 7em;
  }
  .resto {
    width: 100%;
  }
  section {
    border-radius: 1em 1em 0 0;
    width: 100%;
    margin-top: -85px;
  }
  section div {
    width: 90%;
  }
  section .ingrédients {
    font-size: 1.2em;
  }
  section .price {
    margin-inline-start: 0.5em;
    font-size: 1.2em;
  }
  section button {
    width: 50%;
    margin-inline-start: 12.5em;
    transition: filter 0.5s ease-in-out;
  }
  .heart {
    margin-inline-start: 5em;
  }
}

@media only screen and (min-width: 1224px) {
  body {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
  header {
    grid-column: span 3;
  }
  header span {
    font-size: xxx-large;
  }
  header .logo {
    width: 60%;
    grid-column-start: 2;
    margin-inline-start: 15%;
  }
  header .logo #logo {
    display: flex;
    margin: auto;
  }
  header span::after {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .resto {
    width: 100%;
    display: flex;
    margin: auto;
    border-radius: 2em 2em 0 0;
    grid-column-start: 2;
  }
  section {
    border-radius: 2em 2em 0 0;
    width: 100%;
    grid-column-start: 2;
  }
  section div {
    width: 90%;
  }
  section .ingrédients {
    font-size: 1em;
  }
  section .price {
    margin-inline-start: 10em;
    font-size: 1.2em;
  }
  section button {
    width: auto;
    transition: filter 0.5s ease-in-out;
    height: auto;
    display: flex;
    margin: auto;
    margin-block-start: 4em;
    margin-block-end: 4em;
  }
  .heart {
    margin-inline-start: 4em;
  }
  footer {
    grid-column: span 3;
  }
}

footer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #333131;
  padding: 2em 1em;
}

footer a {
  color: white;
  text-decoration: none;
  margin-inline-start: 1em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

footer a:first-of-type {
  margin-block-end: 1.8em;
  margin-bottom: 1em;
}

footer a:hover {
  text-decoration: underline;
}

footer a span {
  font-family: "Roboto";
}

footer a span.eat::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f2e7";
  color: white;
  margin-inline-start: 0.4em;
  margin-inline-end: 1.2em;
}

footer a span.market::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f4c4";
  color: white;
  margin-inline-start: 0.4em;
  margin-inline-end: 0.8em;
}

footer .logo {
  font-family: "Shrikhand";
  font-size: 1.35rem;
}
