@import "head.scss";
body {
  font-family: $font_txt;
}
* {
  outline: none;
  box-sizing: border-box;
}
header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10% 90%;
  background-color: white;
  .logo {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0.5em;
    margin-block-end: 0;
    #logo {
      height: 70%;
      width: 70%;
    }
  }
  a {
    text-decoration: none;
  }
  a:active,
  a:visited,
  a:-webkit-any-link,
  a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  span {
    display: flex;
    &::after {
      font-family: $font_icons;
      content: "\f060";
      font-weight: bold;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 1em;
      margin-inline-end: 1em;
    }
  }
}
.resto {
  box-sizing: content-box;
  object-fit: cover;
  z-index: 0;
}
section {
  background-color: #f0f0f0;
  z-index: 1;
  position: relative;
  h2 {
    font-family: $font_logo;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
  }
  h3 {
    width: 2.5em;
    padding: 0.2em 0;
    text-transform: uppercase;
    font-family: $font_txt;
    font-weight: 400;
    border-bottom: 2px solid $thirdary;
    margin-inline-start: 1em;
  }
  div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    margin-block-end: 1em;
    margin-inline-start: 0.5em;
    font-family: $font_txt;
  }
  div.name {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    width: 100%;
  }
  .bold {
    font-weight: bold;
  }
  .plat {
    grid-row-start: 1;
    grid-column: 1 / span 2;
    font-size: 1.1em;
  }
  .ingrédients {
    grid-row-start: 2;
    grid-column: 1 / span 2;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
  }
  .price {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  .phare {
    font-weight: 500;
  }
  button {
    background: $gradient;
    height: 20%;
    margin: auto;
    color: white;
    text-align: center;
    line-height: 10px;
    font-weight: 500;
    padding: 1.5em;
    margin-block-start: 4em;
    margin-block-end: 4em;
    border-radius: 2em;
    border: none;
    filter: brightness(100%);
    &:hover,
    &:focus {
      filter: brightness(150%);
      outline: none;
    }
  }
}
.heart {
  grid-column-start: 2;
  z-index: 10;
  display: flex;
  justify-items: center;
  align-items: center;
}
.heart::before {
  display: block;
  content: "";
  background-image: url("../images/icone/heart-regular.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  transition: background-image 2s;
}
.heart:hover::before {
  background-image: url("../images/icone/heart-solid.svg");
}
.menu {
  background-color: white;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  animation: pop 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
  margin-inline-start: 1em;

  &_header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  .plat {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_ingrédients {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0.5rem;
  }
  &_confirmation {
    background-color: $thirdary;
    margin: -1rem -7.5rem -1rem 1rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }

  &:hover &_confirmation {
    margin-right: -1rem;
  }

  &_icon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
  &:hover &_icon {
    transform: rotate(0);
  }

  &_icon {
    color: $thirdary;
  }
}

@for $i from 0 to 10 {
  .wait-#{$i} {
    animation-delay: #{$i/3}s;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.check::before {
  content: "\f00c";
  font-family: $font_icons;
  font-weight: bold;
  font-size: 1.2em;
}
@import "menu_m.scss";
@import "menu_t.scss";
@import "menu_d.scss";
@import "footer.scss";
