@import "head.scss";

// DESKTOP
@media only screen and (min-width: 1224px) {
  body{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
  header {
    grid-column: span 3;
    span{
      font-size: xxx-large;
    }
    .logo {
      width: 60%;
      grid-column-start: 2;
      margin-left: 15%;
      #logo {
        display: flex;
        margin: auto;
      }
    }
    span::after {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .resto {
    width: 100%;
    display: flex;
    margin: auto;
    border-radius: 2em 2em 0 0;
    grid-column-start: 2;
  }
  section {
    border-radius: 2em 2em 0 0;
    width: 100%;
    grid-column-start: 2;
    div {
      width: 90%;
    }

    .ingrédients {
      font-size: 1em;
    }
    .price {
      margin-left: 10em;
      font-size: 1.2em;
    }
    button {
      width: auto;
      transition: filter 0.5s ease-in-out;
      height: auto;
      display: flex;
      margin: auto;
      margin-top: 4em;
      margin-bottom: 4em;
    }
  }
  .heart {
    margin-left: 4em;
  }
  footer{
    grid-column: span 3;
  }
}
